html
	head
		title My Site -about pug
		style
			include pug.css
		body
			include nav.pug
			p Welcome Back #{user}
			p This is the landing page!
			p What you doing? 
				ol
					.index want to dance?
					.index getting a beer...
					.index go away you freak!
			include footer.pug
