html
	head
		title My Site -about pug
		style
			include pug.css
		body
			include nav.pug
			include login.pug
			p This is your team for tonight:
				- for (var i =0; i < read.length; i++)
					li #{read[i].firstname}
			p
			include search
			p what a cunt!