nav
	include login.pug
	ul
		if isLoggedIn
			li
				a(href="logout") Logout
			li
				a(href="contact") Contact	
		else 
			li
				a(href="Log in") Log in
			li
				a(href="Sign Up") Sign Up!
		li
			a(href="contact") Contacts
		li
			a(href="/") Prices
		li
			a(href="contact") Maps