html
	head
		title Search
		style
			include pug.css
		body
			h1 Hey, Thanks for joining
			form(class="forms" method="POST" action="/search")
				input(type="text" placeholder="search" name="search1")
				input(type="submit" value="search")